<!DOCTYPE html>

<!--Assign Angular Module-->
<html ng-app="usersBookBox">

<head lang="en">
    <% include ../partials/head %>
      
       

        <!-- SPELLS -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <!-- load jquery -->
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
        <!-- load angular -->
        <script src="../user.controller.js"></script>



</head>

<!-- SET THE CONTROLLER AND GET ALL BOOKS -->

<body ng-controller="userController">
    <header>
        <% include ../partials/header %>
    </header>

    <div class="container">

        <!--HEADER & BOOK COUNT-->
        <div class="jumbotron text-center">
            <h1>There are <span class="label label-info">{{users.length}}</span> users in our community!</h1>
        </div>


        <!-- USER LIST -->
        <div id="todo-list" class="row">
            <div class="col-sm-8">
                <h1>Community Library - All Users</h1>
                <!-- Loop over the in scope books-->
                <div class="row">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>User Name</th>
                                <th>Email</th>
                                <th>Books</th>
                                <th></th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            <!--<tr>
                                <td>
                                    <input class="form-control" ng-model="book.name">
                                </td>
                                <td>
                                    <input class="form-control" ng-model="book.owner">
                                </td>
                                <td>
                                    <button class="btn btn-info" ng-click="createBook()">Add Book</button>
                                </td>
                                <td>
                                    <button class="btn btn-primary" ng-click="deleteBook(book._id)">Update</button>
                                </td>
                            </tr>-->
                            <tr ng-repeat="user in users">
                                <td>User Name (future)</td>
                                <td><a ng-href="/users/{{user._id}}">{{user.local.email}}</a></td>
                                <td>
                                    <button class="btn btn-danger" ng-click="">{{user.books.length}}</button>
                                </td>
                                <td>
                                    <button class="btn btn-warning" ng-click="">View</button>
                                </td>

                            </tr>
                        </tbody>
                    </table>



                    <label>
                        <!--<input type="checkbox" ng-click="deleteBook(book._id)"> {{book.name}}
                        <input type="checkbox"> {{book.name}}-->
                    </label>
                </div>




                <!--FORM TO CREATE BOOKS-->

            </div>

            <div class="col-sm-4">
                <h1>Add a Book!</h1>
                <div id="book-form">

                    <form name="newBook">
                        <div class="form-group">

                            <!--Bind this value to formData.text in Angular -->
                            <input type="text" class="form-control input-lg text-center" ng-required="true"
  ng-minlength="3" placeholder="The greatest love story ever told" ng-model="formData.name">
                        </div>

                        <!--createBook() will create new books -->
                        <button type="submit" class="btn btn-primary btn-lg" ng-disabled="newBook.$invalid" ng-click="createBook()">Add Book</button>
                    </form>

                </div>
            </div>
        </div>
    </div>



    <footer>
        <% include ../partials/footer %>
    </footer>
</body>

</html>